[submodule "available/zencoding"]
	path = available/zencoding
	url = git://github.com/mattn/zencoding-vim.git
	ignore = dirty
[submodule "available/pathogen"]
	path = available/pathogen
	url = git://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "available/fuzzyfinder"]
	path = available/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "available/l9"]
	path = available/l9
	url = git://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "available/surround"]
	path = available/surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "available/hoogle"]
	path = available/hoogle
	url = git://github.com/Twinside/vim-hoogle.git
	ignore = dirty
[submodule "available/haskell-html-template-syntax"]
	path = available/haskell-html-template-syntax
	url = git://github.com/pbrisbin/html-template-syntax.git
[submodule "available/YankRing"]
	path = available/YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
