[submodule "available/zencoding"]
	path = available/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule "available/pathogen"]
	path = available/pathogen
	url = git://github.com/tpope/vim-pathogen.git
